
<div class="landing">

  <div>
    <img src="/images/node.jpg" alt="landing_image" class="node">
  </div>

  <section class="action-center">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, tenetur nobis! Unde molestias possimus similique, ullam suscipit natus inventore provident libero eius! Culpa similique alias tempore aspernatur dolorem laudantium id.</p>
    <a href="/languages" class="action-btn"> View Languages  </a>
  </section>

</div>