<%- include('../partials/header.ejs') %>

 
<h1>Languages</h1>

<div class="cards">

    <div class="card">
        <h2>laravel</h2>
    </div>

    <div class="card">
        <h2>Vue</h2>
    </div>
    <div class="card">
        <h2>Js</h2>
    </div>
    <div class="card">
        <h2>Tailwind</h2>
    </div>
    <div class="card">
        <h2>Node</h2>
    </div>
    <div class="card">
        <h2>Flutter</h2>
    </div>
    <div class="card">
        <h2>React</h2>
    </div>

</div>

<%- include('../partials/footer'); -%>
  
  